::placeholder {
    color: inherit;
    opacity: .55;
}

label, input, select, button {
    display: inline-block;
    font-family: "Open Sans", Roboto, Helvetica, Arial, sans-serif;
    font-size: $mainSize;
    font-weight: 400;
    color: $black;
}

input:not([type="checkbox"]), select {
    min-width: 25%;
    font-size: 1em;
    padding: .5em 1.5em;
    border: none;
    border-bottom: .15em solid $primary;
    background-color: $lightGrey;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        border-color: $secondary;
        background-color: $lighterGrey;
    }
}

input[type="submit"], button:not(.link) {
    display: block;
    width: auto;
    font-size: $mainSize;
    padding: 1em 1.75em;
    margin-left: auto;
    margin-right: auto;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 2em;
    background-color: $lightPrimary;
    background-image: linear-gradient(to right, transparent, $lightPrimary);
    color: white;
    box-shadow: 0 .1em .75em $shadow;

    &:focus, &:hover {
        border: none;
        background-color: $darkSecondary;
        box-shadow: 0 .15em 1.25em $tintedShadow;
    }
}

input[disabled], button[disabled] {
    cursor: not-allowed;
}
