a, .link {
    display: inline-block;
    margin: 0;
    text-decoration: underline;
    color: $primary;
    font-style: normal;
    background: none;
    border: none;
    box-shadow: none;

    &:hover, &:focus {
        cursor: pointer;
        color: $secondary;
        box-shadow: none;
        background: none;
    }
    &:focus {
        text-transform: uppercase;
    }

    &[disabled] {
        cursor: not-allowed;
    }
}
