table {
    width: 100%;
}

th {
    &[scope="col"] {
        padding: .5em .33em 1em;
    }
}

td {
    padding: .33em .33em .5em;
}

tr {
    background-color: $white;

    &:nth-child(odd) {
        background-color: $lighterGrey;
    }

    & + tr {
        border-top: 1px solid $lightGrey;
    }
}
