.c-tchr-list {
    border-radius: 1em;
    overflow: hidden;
    list-style-type: none;
    padding: 0;
    margin: 0;

    &__item {
        padding: .75em 1.25em 1.25em;

        &--one-line {
            display: flex;
            align-items: center;
            justify-content: space-between;

            & .c-tchr-list__actions {
                display: none;
            }

            &:hover .c-tchr-list__actions, &:focus-within .c-tchr-list__actions {
                display: block;
            }
        }
    }

    &__title {
        & a {
            text-decoration: none;
        }
    }

    &__locations {
        opacity: .7;
        font-size: $smallSize;
    }

    &__actions {
        text-align: right;
    }
}
