$timelineHeight: .5rem;
$timelineMargin: $timelineHeight * 3;
$labelHeight: .75rem * 2 + 1.5rem;
$offset: $timelineHeight + $timelineMargin * 2 + $labelHeight;


.c-timeline {
    position: relative;
    height: $timelineHeight;
    margin: ($offset - $timelineHeight) 0 $timelineMargin;

    &__event {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: $grey;

        &--in-time {
            top: auto;
            border-top: .25rem dashed $darkGrey;
            bottom: ($timelineHeight / 10);
            background-color: transparent;
        }

        &--late {
            background-color: $secondary;
        }
    }

    &__info {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 2.6667rem; // 32px
        height: 2.6667rem;
        margin-right: .25rem;
        background-color: $darkGrey;
        border-radius: 100%;
        &--tmln {
            position: absolute;
            top: 50%;
            z-index: 3;
            cursor: help;
            transform: translateX(-50%) translateY(-50%);
        }
        &--today {
            background-color: $lightPrimary;
        }
        &--deadline {
            background-color: $darkSecondary;
        }
        &--created_at {
            background-color: $primary;
        }
    }

    &__icon {
        color: $white;
        width: 50%;
        height: 50%;
    }

    &__texts {
        position: relative;
        margin-bottom: $labelHeight + 2.5rem;
    }

    &__text {
        position: absolute;
        padding: .75rem 1.25rem;
        border: 1px solid $lightGrey;
        background-color: $lighterGrey;
        font-size: $smallSize;
        display: grid;
        grid-template-columns: max-content;

        &:nth-child(even) {
            margin-top: - $offset;
        }
    }

    &__captions {
        display: none;
    }
    // ---- MEDIA QUERIES petit écran
    /*&__caption {
        display: block;
        & + .c-timeline__caption {
            margin-top: 1rem;
        }
    }*/
}
