.main-main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    &__content {
        margin-top: -4.5rem;
        padding: $rowGap ($colGap * 2) 6rem;
        background-color: $white;
        border-radius: 1rem 1rem 0 0;
        box-shadow: 0 .25rem 1rem $shadow;
        flex: 1;
    }

    &--index .main-main__content {
        margin-top: 0;
        padding: $rowGap 0 6rem;
        box-shadow: none;
        background-color: transparent;
    }

}
