.o-card {
    &--grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(17em, 1fr));
        row-gap: $rowGap;
        column-gap: $colGap;
        & > [class] + [class] {
            margin: 0;
        }
    }
}
