.o-form {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) minmax(auto, 2fr);
    grid-gap: 1.75em 1em;
    align-items: start;
    margin-bottom: 1.75em;
    text-align: left;

    @include mq('laptop') {
        grid-template-columns: minmax(190px, 1fr);
        grid-row-gap: .75em;
    }

    &__group {
        display: flex;
        align-items: center;
        margin-bottom: 1.5em;
    }

    &__label {
        text-align: right;
        padding: .75em 0;

        @include mq('laptop') {
            text-align: left;
        }

        &:first-of-type {
            @include mq('laptop') {
                padding: 0;
            }
        }

        &:nth-of-type(n+2) {
            @include mq('laptop') {
                padding: 1.25em 0 0;
            }
        }
    }

    &__input {
        align-self: center;
    }

    &__submit {
        text-align: center;
    }

    &__full, &__error, &__submit {
        grid-column: 1 / -1;
    }
}
