.o-layout {
    &--holy {
        display: grid;
        grid-template-columns: 72% 28%;
        align-items: start;
        column-gap: $colGap * 2;
    }
    &--centered {
        display: grid;
        align-items: center;
        justify-items: center;
        align-content: center;
    }
}
.sidebar {
    position: sticky;
    top: $rowGap;
    margin-top: $rowGap;
}
