$primary: #430048;
$lightPrimary: #71284E;
$secondary: #C04848;
$darkSecondary: #8f2635;
$success: #56a6b6;
$white: #FFFFFF;
$lighterGrey: #F7F7F7;
$lightGrey: #EDEDED;
$grey: #C4C6CC;
$darkGrey: #595250;
$black: #161616;
$shadow: rgba(84, 31, 57, 0.2);
$tintedShadow: rgba(140, 35, 80, 0.4);
$successTintedShadow: rgba(100, 175, 180, 0.4);
